*{
  background-color: #0e0e0e;
  color: white;

  margin: 0px;
  padding: 0px;
}
#title1 {
  color: rgb(97, 97, 221);
  inline-size: none;
  color: white; 
  font-size: 25px; 
  font-weight: 500;
}
#upper1{
  row-gap: 50px;
   

}
.topLink{
  padding: 10px;
  color: grey;
  cursor: pointer;
}